* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    color-scheme: dark;
}

header {
    padding: 20px;
    text-align: center;
}

.container {
    margin: auto;
    width: 600px;
    height: 600px;
    border: 2px solid gray;
}