* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background: #1e1e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}

header {
  padding: 20px;
  text-align: center;
}

.main {
  background: white;
  padding: 2px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 604px;
  height: 604px;
  border: 2px solid gray;
  background: #24273A;
}

.controler-style {
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background: #45475A;
  color: white;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.2s;
  text-align: center;
}

.controler-style:hover {
  border: 2px solid white;
  background: #1e1e2e;
  scale: 1.1;
  transition-duration: 0.2s;
}

.form-styles {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} 

.paint {
  border: 1px solid gray;
}

.paintColor {
  background: black;
}

#reset {
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.controlers-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#change-color {
  padding: 6px;
}

.error {
  display: none;
}

@media (max-width: 620px), (max-height: 790px) {
  .etch-a-sketch {
    display: none;
  }

  .error {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .error h1 {
    text-align: center;
    color: orange;
    font-size: 24px;
    text-shadow: 0 0 10px white;
  }
}